*.sdf
build/
bin/
ipch/
Debug.win32/
CocTest/proj.win32/Debug.win32/
CocTest/proj.win32/Release.win32/
*.o
*.obj
*.user
*.ncb
*.suo
*.tlog
*.idb
*.pdb
*.log
*.pch
*.vcxproj.filters
*.vcxproj.user
*.user